.gradle
/.idea
/gradle
/gradlew
/gradlew.bat
/**/build
/.coursecreator
*.DS_Store
images/tmp.tex
images/main_dark.pdf
/**/task-remote-info.yaml
/**/lesson-remote-info.yaml
/**/task.md
images/cover.synctex.gz
images/cover.pdf
images/sandbox.aux
images/sandbox.log
images/sandbox.pdf
images/sandbox.synctex.gz
images/main.aux
images/main.log
